@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header-section{
    max-width: 1440px;
    height: 570px;
    background: rgb(240, 255, 240);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 12%;
    padding-right: 6rem;
}
/* ===================HEADER & NAVBER & BANNER SECTION START HERE====================== */
nav img{
    width: 14%;
    height: 55px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    margin-left: 2.5rem;
}
#align-button{
    margin-left: 2rem;
}
nav ul li a{
    font-size: 1rem;
    font-weight: 400;
    color: black;
    transition: all 0.3s ease;
    display: inline-block;
    
}
nav ul li a:hover{
    transform: translateY(-5px);
    color: rgb(83, 97, 81);
}
.btn button{
    padding: .7rem 1.5rem;
    background-color: rgb(33, 181, 115);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    color: #fff;
    transition: all 0.3s ease;
    border: 2px solid rgb(33, 181, 115);
    box-shadow: 0px 5px 8px rgb(33, 181, 115,0.5);
}
.btn button:hover{
    background-color: #fff;
    color: black;
}
.content-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem ;
    padding-left: 12.5%;
    padding-right: 6%;
}
.header-content-text{
    width: 50%;
}
.header-content-text .span-em-size{
    color: red;
}
.header-content-text .text-color{
    color: rgb(33, 181, 115);
}
.header-content-text h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 1.5rem;
    line-height: 3.2rem;
}
.header-content-text p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(108, 107, 107);
    margin: 1.4rem 0;
    line-height: 2rem;
}

.content-section img{
    width: 55%;
}
/* ===================HEADER & NAVBER & BANNER SECTION end HERE====================== */

/* ===================EDUCATION CART SECTION START HERE====================== */
.education-cart-section{
    width: 1140px;
    height: 280px;
    margin: 8rem auto;  
}
.education-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-items{
    width: 260px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(219, 255, 239, 0.644);
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.2);
    border-radius: .6rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cart-items:hover{
    transform: translateY(-5px);
    background-color: #fff;
    box-shadow: 0px 5px 10px rgb(0, 0, 0,0.3);
}
.cart-items h3{
    font-size: 1.4rem;
    font-weight: 500;
}
.cart-items p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: .7rem;
}
.cart-items img{
    width: 30%;
    margin-bottom: 1rem;
}
/* ===================EDUCATION CART SECTION END HERE====================== */

/* ===================ONLINE CLASS SECTION START HERE====================== */
.online-class-section{
    width: 1140px;
    height: 600px;
    margin: 0 auto; 
}
.online-class-section h2{
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    margin: 3rem 0;
}
.online-class-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.online-items{
    width: 350px;
    height: 450px;
    padding: 1rem;
    border-radius: .8rem;
    box-shadow: 0px 5px 10px rgb(0, 0, 0,0.3);
}
.online-items img{
    width: 100%;
    margin-bottom: 1rem;
}
.online-items h4{
    font-size: 1.2rem;
    font-weight: 400;
    word-spacing: .4rem;
    letter-spacing: 1px;
}
.online-items p{
    margin: .6rem 0;
    padding-bottom: .5rem;
}
.flex-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: .1rem;

}
.little-content img{
    width: 13%;
}
.little-content p{
    margin-left: .3rem;
}
.little-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
/* ===================ONLINE CLASS SECTION END HERE====================== */